<template name="layout">

	{{>header}}
	{{>navbar}}

	<div name="containter">
		{{> yield}}
	</div>

	{{>footer}}

</template>

<template name="navbar">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{pathFor 'home'}}">Home</a></li>
        <li><a href="{{pathFor 'rules'}}">Rules</a></li>
        <li><a href="{{pathFor 'about'}}">About</a></li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<div>
        <li>{{> loginButtons align="right"}}</li>
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</template>

<template name="header">

	<div class="header">
		<h1>TrachGame Banner</h1>
	</div>
	
</template>

<template name="footer">

	<div class="footer">
		
			<a herf="{{pathFor 'home'}}">Home</a>
			<a herf="{{pathFor 'rules'}}">Rules</a>
			<a herf="{{pathFor 'about'}}">About</a>
		
	</div>

</template>
