<template name="gameTemplate">
    <div class="row game-container">
        <div class="col-xs-12 col-sm-8">
            <h3 class="room-title">{{gameData.title}}</h3>
            <div class="game_table"><!-- okno gry -->
            <div class="col-sm-12"> <!--pobieranie danych o graczach z danego stolu, wrzucic w petle #each-->
                <h3>Enemies</h3> <p> You are attacing player #</p>

             </div>
        <div class="col-sm-12">
            <h4>Your cards</h4><p>do zrobienia klasa btn-card</p> <!--zmiana wygladu kart, wrzucic w petle #each-->
                <div class="row card-btns">
                            <div class="col-xs-2 col-sm-2">
                                <a href="#" style="width: 100%"
                                   class="btn btn-primary"
                                   id="card1-btn">
                                    Card1
                                </a>
                            </div>         
                </div>
            
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="row">
                <div class="col-xs-5 col-sm-12">
                    <h3>Players</h3>
                    <div class="room-players">
                        <ul class="list-group">
                        <p>lista graczy (z playersAndScores?)</p>
                            {{#each playersAndScores}}
                                {{> playerListItem}}
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="col-xs-7 col-sm-12">
                    <h3>Akcje</h3>
                    <div class="row game-btns">
                        <div class="col-xs-6 col-sm-6">
                            <a href="#" style="width: 100%"
                               class="btn btn-danger"
                               id="pass-move-btn">
                                Pass
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <a href="#" style="width: 100%"
                               class="btn btn-danger"
                               id="forfeit-btn">
                                Forfeit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h3>How to play</h3>
            <ul>
                <li>
                    Short instruction - kill enemies (mozna z tego zrezygnowac)
                </li>
            </ul>
        </div>
    </div>
    </div>
    </div>
</template>

<template name="playerListItem">
    <li class="list-group-item {{isTurn}}">
        {{username}}: {{lives}} lives
    </li>
</template>