<template name="about">

	<p>
	Project: Trach Game – card multi player game

	Introduction: The aim of the project is to create a web application, which 		will allow people to play Trach Game via the Internet with other players. This 	open source game was created by Tomasz Tracz, mathematic student from Jagiellonian University. We hope that thanks to results of our work we can contribute to further development of Trach Game and its recognition. Alongside bringing gamers joy, we expect to increase our knowledge in Internet technologies, creating web sites and good, efficient  project working. 
	</p>
	

</template>