<template name="rules">

	<h1>Trach Game Rules</h1>
	<h3>This web Trach Game is a little bit different than real-life card edition</h3>
	<p>How to play: <br/>
	<ul>
	<li>If it is your turn, you can see it at a toolbar as a title of a page</li>
	<li>Choose card you want to use by clicking it</li>
	<li>Choose enemy you want to offensive by clicking him or her</li>
	<li>Choose action you want to modify (eg. defence) by clicking it</li>
	<li>If you want to change your decision click button "Clear" and select everything once again</li>
	<li>If you sure you want to execute action, click "execute button"</li>
	<li>The aim of game is to stay alive</li>
	<li>Have fun and stay alive!</li>
	</ul></p>

</template>