<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor 'home'}}">Home</a></li>
            <li><a href="{{pathFor 'rules'}}">Rules</a></li>
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a herf="{{pathFor 'chat'}}">Chat</a></li>
          </ul>
            {{#if currentUser}}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span>{{currentUser.username}} </span>
                        <span><a href="#" class="logout">Logout </a></span>
                    </li>
                </ul>
            {{/if}}
        </div>
    </nav>
</template>